@font-face {
  font-family: Dosis;
  font-weight: 200 800;
  font-style: normal;

  font-display: block;
  src: url("./assets/fonts/Dosis-VariableFont_wght.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Poetsen One";
  font-weight: 400;
  font-style: normal;

  src: url("./assets/fonts/PoetsenOne-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  display: block;
}

button,
input {
  font: inherit;
}

:root {
  --color-background: #95e4ff;
  --color-text: #5f3822;
  --heading-font: 3rem "Poetsen One", sans-serif;

  font-family: Dosis, sans-serif;
  color: var(--color-text);
  background: var(--color-background);
}

svelte-app {
  display: contents;
}
